<div class="container">
	<div class="col-md-8 col-xs-8 col-sm-8" id="newaritcle">
	<div class="line"></div>
	<div><a name="comment"><span style="font-size:3ex;color:#888888">发表新帖</span></a></div>
	<input type='text' class='form-control' placeholder='帖子标题' id='title'>
	<div class="line"></div>
	<script id="container" name='content' type='text/plain'></script>
	<div style="padding:5px;text-align:right"><button class="btn btn-default" id='submitbtn'>提交</button></div>
	</div>
</div>
<script>
$(document).ready(function(){
	var ue = UE.getEditor('container');
	$('#submitbtn').click(function(){
		 var html = ue.getContent();
		 var imgurl = '';
		 var reg = new RegExp("(<img.*src=\"\.*?\>)");
		 var img = reg.exec(html);
		 if(img == null)
		{
			 imgurl = '';
		 }
		 else
		{
			 reg = new RegExp('src=\"(.*?)\"');
			 var url = reg.exec(img[0]);
			 imgurl = url[1];
		}
		 var text = ue.getContentTxt();
		 var circle_id = '<?php echo $circle_id;?>';
		 $.ajax({
			 url:'/topic/newtopic',
			 data:{title:$('#title').val(),content:html,circle_id:circle_id,contenttext:text,topic_firstimg:imgurl},
			 type:'POST',
			 dataType:'json',
			 success:function(data){
				 if(data.result = true)
				{
					 window.location.href='/circle/tocircle/'+circle_id;
				 }
				 else
				{
					 alert("发帖失败，请重试");
				}
			 }
		 });
	});
});
</script>