
<style>
.mandiv{
	margin-top:60px;
	background-color:white;
	height:100%;
	padding-top:3em;
}
.title{
	background:url(/aplugin/picture/t1.png) top center no-repeat;
	margin-top:-30px;
	float:left;
	height:50px;
	width:100%
}
</style>
<div class="mandiv container"  style="padding-bottom:10em">
<div class="line"></div>
<div class="title"></div>
<div class="col-md-6 col-md-offset-3">
<form action="/quyouusers/register" method="post"  id="submitform">
<div class="form-group"><span>邮箱</span><input name="email" id="regemail" type="text" placeholder="邮箱" class="form-control"></div>
<div class="form-group"><span>验证码</span><input name="capture" id="regcapture" type="text" class="form-control"><a href='###'  id='getemailcapture'>获取邮箱验证码</a></div>
<div class="form-group"><span>昵称</span><input name="name" id="regname" type="text" placeholder="昵称" class="form-control"></div>
<div class="form-group"><span>密码</span><input name="password" id="regpassword" type="password" placeholder="密码" class="form-control"></div>
<div class="form-group"><span>确认密码</span><input name="repassword" id="regrepassword" type="password" placeholder="确认密码" class="form-control"></div>
</form>
<button  id="subbutton" class="btn btn-default">提交</button>
</div>
</div>
<script type="text/javascript">
var getemailurl = '/capture/getemailcapture';
$(document).ready(function(){
	$("#getemailcapture").click(function(){
		var clickflag = false;
		var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
		var vemail = reg.test($("#regemail").val());
		if(vemail == false)
		{
			alert("邮箱输入格式不正确");
			return;
		}
		var verityemailurl = '/quyouusers/verityregister';
		var verityemailajax = $.ajax({
			url:verityemailurl,
			type:'POST',
			dataType:'json',
			data:{email:$("#regemail").val()},
			success:function(data){
				clickflag = data.result.code;
				if(data.result.code ==  false)
				{
					alert("该邮箱已被注册");
					return;
				}
				console.log(data);
			}
		});
		$.when(verityemailajax).then(function(){
			if(clickflag == false){
				return;
			}
			$.ajax({
				url:getemailurl,
				type:'POST',
				dataType:'json',
				data:{email:$('#regemail').val()},
				success:function(data){
					console.log(data);
					if(data.error_code == true)
					{
						alert("获取成功，请查收");
					}
					else
					{
						alert("获取失败，请稍后在试");
					}
				}
			});
		});
	});
	$("#subbutton").click(function(){
		var verityturl = '/capture/veritycapture';
		var verityret = false;
		var veritycapture = $.ajax({
			url:verityturl,
			type:"POST",
			dataType:'json',
			data:{capture:$("#regcapture").val()},
			success:function(data){
				console.log(data);
				verityret = data.result.code;
			}
		});
		$.when(veritycapture).then(function(){
			var submiturl = '/quyouusers/register';
			if(verityret != true)
			{
				alert("邮箱验证码不正确");
				return;
			}
			if($("#regname").val() == null  || $("#regname").val() == '')
			{
				alert("昵称不能为空");
				return;
			}
			if($("#regpassword").val() == null || $("#regpassword").val()== '')
			{
				alert("密码不能为空");
				return;
			}
			if($("#regpassword").val()  !=  $("#regrepassword").val())
			{
				alert("两次输入密码不一致");
				return;
			}
			$.ajax({
				url:submiturl,
				type:"POST",
				dataType:'HTML',
				data:$("#submitform").serialize(),
				success:function(data){
					if(data == 1)
					{
						window.location.href="/circle/tocircle"
					}
				}
			});
		});
	});
});
</script>
