@CHARSET "UTF-8";
#topic_content img{
	max-width:100%;
}
#topic_content{
	padding-top:3em;
}
.gallery {
  width: 30%;
  padding: 0.5em;
}
.chatname{
	display:block;
}
.chatcontent{
	display:block;
	background-color:#D8D8D8;
	font-size:1.3em
}
.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  width: 250px;
  transition: .1s transform;
  transform: translateZ(0);
  transform-origin:0 0;
  /* hack */
}

.gallery > div:active {
  z-index: 1;
}

.gallery > div:active > img {
  transform: scale(3, 3);
  transform-origin:0 0;
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}


.warnspan{
	position:relative;
	font-size:14px;
	color:#787878;
	word-wrap:break-word;
	display:block;
	height:40px;
	overflow:hidden;
}
.warnspan::after{
	position:absolute;
	bottom:0;
	right:0;
	content:'...';
	font-weight:700;
	height:1em;
	background:#ffffff;
	line-heiht:
}
.bubble{
	width:100%;
	padding:10px;
	color:#585858;
	background:#B8B8B8;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.bubble:before{
	content:'';
	width:0px;
	height:0px;
	display:block;
	border-style:solid;
	border-width:15px 0 0 30px;
	border-color:#B8B8B8 transparent  ;
	position:absolute;
	z-index:-1;
	top:1em;
	left:-14px;
}
.userlogo{
	width:3em;
	height:3em;
	margin-top:0.5em;
}
.username{
	max-width:6em;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	display:block;
	float:left
}
.replydiv{
	padding:10px;
}
.line {
    width: 100%;
    height: 2px;
    background-color: #f1f1f1;
    margin-top: 10px;
	margin-bottom:15px;
}
.time{
	color:#989898;
	width:15ex;
	display:inline-block;
}
.contenttext{
	width:100%;
	display:block;
	word-break:break-all;
	word-wrap:break-word;
}
.contenttext img {
	max-width:400px;
	max-height:400px;
}
.reply{
	margin-top:1ex;
}
.float_bar{
	z-index:10005;
	position:fixed;
	display:block;
	bottom:10ex;
	right:10%;
}
.float_bar  li{
	list-style:none;
	display:block;
	margin-top:1ex;
}
.float_bar_post {
	margin:0;
	padding:0;
}
.float_bar a{
	background-image:url('/aplugin/picture/float_bar.png');
	background-repeat:no-repeat;
	width:45px;
	height:45px;
	display:inline-block;
}
.buttontag{
	width:7em;
	height:2em;
	display:inline-block;
	border:1px solid #A8A8A8;
	border-radius:0.3em;
	line-height:1.8em;
	text-align:center;
	margin:0.2em;
}

.quyou-self-header
{  
      filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;  
}   

.bodybackground{
	background-color:#E8E8E8;
	background-image:url('/aplugin/picture/pack3.jpg');
}
.float_bar_post  a{
	background-position:-220px -110px;
}
.float_bar_post a:hover{
	background-position:-220px -165px;
}
.float_bar_refresh a{
	background-position:-220px 0px;
}
.float_bar_refresh a:hover{
	background-position:-220px -55px;
}
.float_bar_top a{
	background-position:0px 0px;
}
.float_bar_top a:hover{
	background-position:-165px -110px;
}
.pd_main *{
	margin:0px;
	padding:0px;
}
.pd_main a{
text-decoration:none;
}
.pd_main{
	position:relative;
	float:left;
}
.box{
	padding:0.5em 0 0 0.5em ; 
	float:left !important	;
	
	 word-wrap: break-word;
}
.detaildiv
{
	width:150px;
	word-wrap: break-word;
}
.boxbody{
	/* display:inline-block; */
	padding:10px;
	border:0px solid #000;
	box-shadow:5px 5px 10px #888888;
	background-color:white;
	height:400px;
}

.imgdiv img{
	width:150px;
	padding:10px;
}

#modal-warn:first-letter{
	fon-size:1.3em;
	font-weight:bold;
}



#rRightDown,#rLeftDown,#rLeftUp,#rRightUp,#rRight,#rLeft,#rUp,#rDown{
	position:absolute;
	background:#FFF;
	border: 1px solid #333;
	width: 6px;
	height: 6px;
	z-index:500;
	font-size:0;
	opacity: 0.5;
	filter:alpha(opacity=50);
}

#rLeftDown,#rRightUp{cursor:ne-resize;}
#rRightDown,#rLeftUp{cursor:nw-resize;}
#rRight,#rLeft{cursor:e-resize;}
#rUp,#rDown{cursor:n-resize;}

#rLeftDown{left:-4px;bottom:-4px;}
#rRightUp{right:-4px;top:-4px;}
#rRightDown{right:-4px;bottom:-4px;background-color:#00F;}
#rLeftUp{left:-4px;top:-4px;}
#rRight{right:-4px;top:50%;margin-top:-4px;}
#rLeft{left:-4px;top:50%;margin-top:-4px;}
#rUp{top:-4px;left:50%;margin-left:-4px;}
#rDown{bottom:-4px;left:50%;margin-left:-4px;}

#bgDiv{width:300px; height:300px; border:1px solid #666666; position:relative;}
#dragDiv{border:1px dashed #fff; width:100px; height:100px; top:50px; left:50px; cursor:move; }

